

div#block {
    background-color: rgb(221, 247, 213);
    margin-left: 10px;
    display: flex;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px rgba($color: #ffffff, $alpha: 0.7);
    margin-bottom: 30px;
}

span {
    text-align: justify;
    font-weight: bold;
    color: black;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 1700px) {
   #block {
    width: 1000px !important;
   } 
}
@media screen and (max-width: 1300px) {
    #block {
        width: 800px !important;
    }
}
@media screen and (max-width: 900px) {
    #block {
        width: 700px !important;
        span {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 750px) {
    #block {
        width: 500px !important;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 530px) {
    #block {
        width: 400px !important;
        margin-bottom: 10px !important;
    }
}
@media screen and (max-width: 430px) {
    #block {
        width: 300px !important;
    }
}
@media screen and (max-width: 310px) {
    #block {
        width: 200px !important;
        span {
            font-size: 15px !important;
        }
    }
}
@media screen and (max-width: 250px) {
    #block {
        width: 100px !important;
        span {
            font-size: 10px !important;
        }
    }
}