form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


        input  {
        text-align: center;
        font-size: 20px;
        width: 300px;
        height: 50px;
        outline: none;
        border-radius: 20px;
        padding: 10px;
        &::placeholder {
            font-size: 20px;
            text-align: center;
        }
    }
   select {
        font-size: 20px;
        width: 300px;
        height: 70px;
        outline: none;
        border-radius: 20px;
        padding: 10px;
   }

   .validate_error {
    color: red;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 0;
}
}

   .validate_errors {
        gap: 20px;
        display: flex;
        justify-content: space-between;
    }

.pole {
    margin-bottom: 20px;
}

.line {
    display: flex;
    gap: 20px;
    align-items: center;
}
.part {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

input[type=radio] {
    width: 30px;
    margin-left: 40px;
}

.label-fraction {
    display: flex;
    align-items: center;
    gap: 10px;
}