@font-face {
    font-family: Montserrat-Italic;
    src: url("/fonts/Montserrat-Italic.ttf");
}
form.various {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 3px dashed black;
}
.text_radio {
    font-size: 20px;
    margin-right: 30px;
    font-weight: normal;
    font-family: Arial, sans-serif;
}
#ga_input {
    margin-left: 25px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


        input  {
        text-align: center;
        font-size: 20px;
        width: 300px;
        height: 50px;
        outline: none;
        border-radius: 20px;
        padding: 10px;
        &::placeholder {
            font-size: 20px;
            text-align: center;
        }
    }
   select {
        font-size: 20px;
        width: 300px;
        height: 70px;
        outline: none;
        border-radius: 20px;
        padding: 10px;
   }

   .validate_error {
    color: red;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 0;
}
}

   .validate_errors {
        gap: 20px;
        display: flex;
        justify-content: space-between;
    }

.pole {
    margin-bottom: 20px;
}

.line {
    display: flex;
    gap: 20px;
    align-items: center;
}
.part {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

input[type=radio] {
    width: 30px;
    margin-left: 40px;
}

.label-fraction {
    display: flex;
    align-items: center;
    gap: 10px;
}
.share_size {
    width: 100px;
}
.number_form {
  margin-left: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.number_form .delete_icon {
    flex-shrink: 0; 
    cursor: pointer;
    margin-right: 20px;
}
h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat-Italic", sans-serif;
}
.send_various {
    margin-left: 100px;
    height: 70px;
    margin-bottom: 20px;
}
.center {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
li::after {
    content: '#';
}

#fio_input, #name_res {
    margin-left: 15px;
}
@media screen and (max-width: 970px) {
    #fio_input, #name_res {
        width: 200px;
    }
    .part {
        gap: 0px;
    }
    .line {
        gap: 5px;
    }
    label {
        font-size: 15px !important;
    }
    form {
        input {
            height: 40px;
             font-size: 18px;
                     &::placeholder {
            font-size: 18px;
        }
        }
    }
    .share_size {
        width: 30px;
        height: 30px;
    }
    #slash {
        font-size: 25px;
    }
    .label-fraction {
        font-size: 18px !important;
        width: 60px;
        margin-right: 13px;
    }
    input[type=radio] {
      margin-left: 12px;
    }
}
@media screen and (max-width: 650px) {
    .send_various {
        margin-left: 20px;
    }
    .number_form {
        font-size: 25px;
    }
    .delete_icon {
        width: 25px;
    }
    h2 {
        font-size: 25px;
    }
    #fio_input, #name_res {
        width: 150px;
        font-size: 15px;
        &::placeholder {
            font-size: 13px;
        }
    }
    form {
    label {
        font-size: 13px !important;
    }
        }
}
@media screen and (max-width: 525px) {
    .text_radio {
        font-size: 13px;
    }
    .validate_error {
        font-size: 10px;
    }
    .delete_icon {
        margin-right: 0px;
    }
    .center {
        gap: 3px;
    }
       button {
        margin: 0;
        font-size: 13px;
    }
        #fio_input, #name_res {
        width: 100px;
        font-size: 13px;
        &::placeholder {
            font-size: 13px;
        }
    }
}
@media screen and (max-width: 450px) {
    button {
        height: 40px !important;
    }
    .share_size {
        height: 20px;
        width: 20px;
        font-size: 13px;
        &::placeholder {
            font-size: 13px;
        }
    }
    #slash {
        font-size: 18px;
    }
    form {
        label {
            font-size: 10px !important;
        }
    }
}